black==24.10.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mypy-extensions==1.0.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==11.0.0
platformdirs==4.3.6
pycparser==2.22
pycryptodome==3.21.0
PyMuPDF==1.26.0
PyPDF2==3.0.1
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.4
six==1.17.0
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.4.0
Werkzeug==3.1.3
